<h1>Friend List: </h1>

<% @friends.each do |friend| %>
  First Name: <%= friend.first_name %><br>
  Last Name: <%= friend.last_name %><br>
  Birthday: <%= friend.friendly_birthday %><br>
  Cat Name: <%= friend.cat_name %><br>
  <br>
<% end %>
